.header{
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}
#Portfolio{
  color: red;
  text-decoration-style: wavy;
}
#pic{
  float: right;
  padding: 1px;
  border-radius: 2px
}
#pics{
  float: left;
  padding: 1px;
  border-radius: 2px
}
.h2{
  text-decoration: underline;
  text-align: center;
}
#about{
  background-color: #cc0000;
  color: white;
  margin-left: 5px;
}
#abouts{
  text-decoration-style: double;
  text-align: justify;
}
.column {
    width: 350px;
    float: left;
    padding: 15px;
  }
  #aboutw{
    background-color: #65082f;
    color: white;
    margin-left: 5px;
  }

  #aboute{
    background-color: #0c1629;
    color: white;
    margin-left: 5px;
  }
  #abouty{
    background-color: #2e84d5;
    color: white;
    margin-left: 5px;
  }

  #aboutz{
    background-color: #720022;
    color: white;
    margin-left: 5px;
  }
